* {
    margin: 0;
    padding: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  
  .pic_position{
    width: 400px;
    height: 400px;
    position: fixed;
    right: 70px;
    top:70px;
  }


 @media (max-width: 500px) {
  #html {
    height: 40vh;
    overflow: auto;
  }

  .pic_position{
    margin-top: 6%;

    width: auto;
    position: static;
    height: auto;
    display: flex;
    justify-content: center;

  }
  }


